<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/"
layout:decorate="~{layout}">
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="content" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Nossos Cursos</h1>
                <p class="lead fw-normal text-muted mb-0">Matricule-se</p>
            </div>
           <div class="row gx-5">
                <div th:each="course : ${courses}" class="col-lg-6">
               <div class="position-relative mb-5">
                        <img class="img-fluid rounded-3 mb-3" th:src="@{/image/thumbnail/{file}(file=${course.thumbnailPath})}" alt="Thumbnail" />
                        <a th:text="${course.title}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Course name</a>
                        <a th:text="${'(' + course.duration + ' Horas)'}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Duração do curso</a>
                        </br>
                        <a th:text="${course.description}" class="text-decoration-none link-dark stretched-link" href="#!">Course description</a>
                    </div>
                </div>
            </div>
        </div>
        </section>
</main>
</body>
</html>