<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/"
      layout:decorate="~{layout}">
<head>
    <title>Editar Curso</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="content" class="py-5">
        <div class="container">
            <form role="form" method="post" th:action="@{/courses/{id}/edit(id=${course.id})}" th:object="${course}" enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="title">Titulo Do Curso</label>
                        <input
                                type="text"
                                class="form-control"
                                id="title"
                                th:field="*{title}"
                                placeholder="Titulo">
                        <p th:if="${#fields?.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="description">Descrição do curso</label>
                        <input
                                type="text"
                                class="form-control"
                                id="description"
                                th:field="*{description}"
                                placeholder="Descrição">
                        <p th:if="${#fields?.hasErrors('description')}" class="text-danger" th:errors="*{description}"></p>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="duration">Duração do curso</label>
                        <input
                                type="number"
                                class="form-control"
                                id="duration"
                                th:field="*{duration}"
                                placeholder="Digite apenas o número de horas">
                        <p th:if="${#fields?.hasErrors('duration')}" class="text-danger" th:errors="*{duration}"></p>
                    </div>
                </div>
                <div class="custom-file mb-3">
                    <input
                            type="file" class="custom-file-input"
                            id="validatedCustomFile"
                            name="thumbnailFile">
                    <label class="custom-file-label" for="validatedCustomFile">Selecionar imagem...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input"
                           type="checkbox"
                           th:field="*{published}" />
                    <label class="form-check-label">Published</label>
                </div>
                <button type="submit" class="btn btn-primary">Criar</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>