<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/"
layout:decorate="~{layout}">
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="content" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Nossos Cursos</h1>
                <p class="lead fw-normal text-muted mb-0">Matricule-se</p>
            </div>
           <div class="row gx-5">
               <div>
                   <form th:action="@{/courses/search}" class="form-inline" my-2 my-lg-0 mb-3>
                       <input name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="Pesquisar Cursos" aria-label="Search">
                   </form>
               </div>
                <div th:each="course : ${courses}" class="col-lg-6 mb-2">
               <a class="position-relative mb-3 d-block text-decoration-none link-dark" th:href="@{/courses/{id}/(id=${course.id})}">
                        <img class="img-fluid rounded-3 mb-3" th:src="@{/image/thumbnail/{file}(file=${course.thumbnailPath})}" alt="Thumbnail" />
                        <h3 class="d-flex justify-content-lg-start align-items-center mb-2">
                            <span th:text="${course.title}" class="h4 fw-bolder mb-0"></span>
                            <small th:text="${'(' + course.duration + ' Horas)'}"
                                   class="text-muted ms-2 fs-4"></small>
                        </h3>
                        <p th:text="${course.description}" class="stretched-link"></p>
               </a>
                    <a class="btn btn-primary" th:href="@{/courses/{id}/edit(id=${course.id})}">Edit</a>
                </div>
            </div>
        </div>
        </section>
</main>
</body>
</html>