<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/"
      layout:decorate="~{layout}">
<head>
    <title>Criar Curso</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="content" class="py-5">
        <div class="container">
            <form role="form" method="post" th:action="@{/lesson/{id}/new(id=${id})}" th:object="${lesson}" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="title">Titulo Do Curso</label>
                        <input
                                type="text"
                                class="form-control"
                                id="title"
                                th:field="*{title}"
                                placeholder="Titulo">
                        <p th:if="${#fields?.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="duration">Duração do curso</label>
                        <input
                                type="number"
                                class="form-control"
                                id="duration"
                                th:field="*{duration}"
                                placeholder="Digite apenas o número de horas">
                        <p th:if="${#fields?.hasErrors('duration')}" class="text-danger" th:errors="*{duration}"></p>
                    </div>
                </div>
                <div class="custom-file mb-3">
                    <input
                            type="file" class="custom-file-input"
                            id="validatedCustomFile" required
                            name="videoFile">
                    <label class="custom-file-label" for="validatedCustomFile">Selecionar video...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>
                <button type="submit" class="btn btn-primary">Criar</button>
            </form>
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
        </div>
    </section>
</main>
</body>
</html>